body { text-align: center;
    color: white;
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


header { background-color: blue;
    height: 40px;
    order: 1;
    flex-basis: 800px;

    
}

#links { background-color: green;
    text-align: left;
    height: 30px;
    padding-left: 10px;
    flex-basis: 800px;
    order: 2;
    
}

#links a{display: inline;
    color: white;
    padding: 7px;

}

article { background-color: pink;
    width: 66%;
    height: 220px;
    order: 3;

}

#section1 { background-color: brown;
    height: 80px;
    margin-bottom: 10px;
    margin-top: 10px;

}

#section2 { background-color: brown;
    height: 80px;
    margin-bottom: 10px;

}

aside { background-color: cyan;
    width: 34%;
    height: 220px;
    order: 3;



}

footer{ background-color: green;
    height: 30px;
    flex-basis: 800px;
    order: 4;


}